<ion-view view-title="Prenota Lezione">

<ion-content>
  <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right card" ng-repeat="coach in coaches" type="item-text-wrap" href="#/tab/coachAvalabilities/{{coach.id}}">


        <div class="item item-avatar item-icon-right" >
          <img src="{{coach.face}}">
          <h2>{{coach.name}}</h2>
          <p>{{coach.date}}</p>
          <i class="icon ion-chevron-right icon-accessory" ></i>
        </div>

        <div class="item item-body">
          <p>
            {{coach.descrizione}}
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>
      </ion-item>
</ion-list>
</ion-content>
</ion-view>
