<ion-view view-title="Disponibilità Campi">
<ion-content class="padding">


  <div class="card" style="text-align:center" ng-if="selectedHours">
    <div class="item item-text-wrap">

      Giorno: {{selectedDay}}
      <i class="icon ion-clock"></i>{{selectedHours}}
    </div>
  </div>

  <div class="card" style="text-align:center" ng-if="resolved">
    <div class="item item-text-wrap">
      <i class="icon ion-checkmark-circled energized"></i>
      {{resolved}}
    </div>
  </div>

  <div class="item item-text-wrap center" >
  <div class="row">
    <div class="col" ng-repeat="game in gameTypes">
      <i class="icon ion-checkmark-circled my-ion-checkmark-circled {{getGameType($index)}}"  ng-click="setGameType($index)"></i> {{game.name}}
    </div>
  </div>
</div>

  <br>

  <div>
    <month-changer current-month="currentMonth" current-year="currentYear">xxx</month-changer>
  </div>

  <calendar coach-avalabilities='coachAvalabilities' coach="toggleCoach.value" selected-day="selectedDay" day-clicked='dayClicked(pos)' current-month="currentMonth" current-year="currentYear"></calendar>

<ion-toggle  ng-model="toggleCoach.value" ng-change="toggleCoach()">
      Maestro
</ion-toggle>

</ion-content>

<script id="ranges-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-stable">
      <h1 class="title"><i class="icon ion-ios-information positive" ng-click="openPopover($event)"></i> Giorno {{selectedDay}} - Scegli Orario : {{selectedHours}}</h1>


      <button class="button button-light" ng-click="closeModal()">close</button>
    </ion-header-bar>
    <ion-content>



    <weather date="selectedDate"></weather>


    <label class="item item-input item-floating-label" ng-show="userRole == 'segreteria' || userRole == 'maestro'">
      <span class="input-label">Utente</span>
      <input type="text" placeholder="Utente" ng-model="booking.note">
    </label>
    <div class="row">
      <div class="col">
      <button class="button button-block button-positive" ng-click="book()" ng-show="showAddButton">
        Prenota
      </button>
      </div>
      <div class="col">
      <button class="button button-block button-assertive" ng-click="closeModal()" ng-show="showAddButton">
        Annulla
      </button>
      </div>
    </div>
    <ion-toggle  ng-model="booking.callToAction" ng-hide="toggleCoach.value">
        Call To Action!
    </ion-toggle>




    <div class="card" style="text-align:center" ng-if="resolved">
      <div class="item item-text-wrap">
        <i class="icon ion-checkmark-circled energized"></i>
        {{resolved}}
      </div>
    </div>





    <hours-range set-range-status='setRangeStatus(pos)' get-range-status='getRangeStatus(pos)'    ng-show="showAddButton"></hours-range>

    <div class="list" ng-show="false">
      <label class="item item-divider">
        Scegli il campo che preferisci...
      </label>


      <ion-radio-fix ng-model="booking.court" ng-value="{{court}}" ng-repeat="court in avalaivableCourts">
        Campo {{court | courtName:booking.gameType}}
      </ion-radio-fix>


    </div>


    </ion-content>
  </div>
</script>

<script id="ok-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Confermato</h1>

    </ion-header-bar>
    <ion-content>
<span class="item item-text-wrap">Prenotazione Effettuata! <b>Data:</b> {{booking.get("date") | date:'dd/MM/yyyy'}} <b>Campo:</b> {{booking.get("court") | courtName:booking.get("gameType")}}</span>

    <div class="row">
      <div class="col">
        <button class="button  button-block button-positive" ng-click="closeModalok()" > Chiudi
        </button>
      </div>
      <div class="col">
        <button class="button  button-block button-positive" ng-click="gotoInvitation()" > Invita amici
        </button>
      </div>
    </div>



    </ion-content>
  </div>
</script>

<script id="coaches-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Seleziona il maestro</h1>
      <button class="button button-light" ng-click="closeCoachesModal()">close</button>

    </ion-header-bar>
    <ion-content>

      <div class="list card">

        <span ng-show="coaches.length == 0">
          Opssss...nessun maestro disponibile. Ma che circolo frequenti???
        </span>

        <span class="item item-icon-right item-text-wrap item-avatar " ng-repeat="coach in coaches" ng-click="selectCoach(coach)">
          <img src="{{coach.get('img').url()}}">
          <h2>{{coach.get('nome')}}</h2>

          <p>
            {{coach.get('descrizione')}}
          </p>


        </span>

      </div>

    </ion-content>
  </div>
</script>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Help</h1>
    </ion-header-bar>
    <ion-content>
      Seleziona una o più fascie orarie e quindi il campo nel quale desideri giocare dalla lista in fondo alla pagina.
      Seleziona l'opzione "Call To Action" se intendi giocare una partita ad inviti.
    </ion-content>
  </ion-popover-view>
</script>


</ion-view>
