
<ion-header-bar align-title="left" class="bar-positive">
   <!-- Toggle left side menu -->
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  <h1 class="title">Seleziona un giorno per visualizzare la situazione campi</h1>
  
</ion-header-bar>

<ion-content class="has-header">
<br>

  <month-changer current-month="currentMonth" current-year="currentYear">xxx</month-changer>


  <calendar  selected-day="selectedDay" day-clicked='dayClicked(pos)' current-month="currentMonth" current-year="currentYear" show-all="true"></calendar>


<div class="card" style="text-align:center" ng-show="mymessage">
  <div class="item item-text-wrap">
    <i class="icon ion-clock"></i>
    {{mymessage}}
  </div>
</div>

<div class="item item-text-wrap center" >
  <div class="row">
    <div class="col" ng-repeat="game in gameTypes">
      <i class="icon ion-checkmark-circled my-ion-checkmark-circled {{getGameType($index)}}"  ng-click="setGameType($index)"></i> {{game.name}}
    </div>
  </div>
</div>
  <ion-list>

    <a class="item item-icon-right" ng-click="openSaldareModal()">
            <i class="icon ion-chevron-right"></i>
            Partite da saldare
    </a>

    <a class="item item-icon-right" ng-click="gotoStats()" ng-show="userRole == 'admin'">
            <i class="icon ion-chevron-right"></i>
            Stats
    </a>

  </ion-list>
</ion-content>

<script id="saldare.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-stable">
      <h1 class="title">Prenotazioni da saldare</h1>
      <button class="button button-light" ng-click="closeSaldareModal()">close</button>
    </ion-header-bar>
  <ion-content>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
  <small>{{error}}</small>
  <div class="item item-text-wrap">
  <div class="center">
     <ion-spinner class="spinnerx" icon="dots" ng-show="waiting"></ion-spinner>
  </div>
  <!-- xxx -->
  <show-bookings bookings="results" text="Prenotazioni precedenti da saldare" pay="setBookingPayed(b)" delete="delete(b)" showpay="true"></show-bookings>
  <!-- xxx -->

</div>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    </ion-content>
 </ion-modal-view>
</script>


