<ion-view view-title="Prenota Lezione">

<ion-content>

<div class="list card">

  <a href="#/tab/coachAvalabilities/{{coach.objectId}}" class="item item-icon-right item-avatar" ng-repeat="coach in coaches">
    <img src="img/{{coach.img}}">
    <h2>{{coach.nome}}</h2>
    <i class="icon ion-chevron-right icon-accessory" ></i>
    <p>
      {{coach.descrizione}}
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </a>

</div>

</ion-content>
</ion-view>
