<ion-view view-title="Seleziona un giorno...">

<ion-content class="padding">

  <month-changer current-month="currentMonth" current-year="currentYear">xxx</month-changer>

  <calendar day-clicked='dayClicked(pos)' current-month="currentMonth" current-year="currentYear"></calendar>


<div class="card" style="text-align:center" ng-show="mymessage">
  <div class="item item-text-wrap">
    <i class="icon ion-clock"></i>
    {{mymessage}}
  </div>
</div>

<div class="item item-text-wrap">
  <!-- xxx -->
  <show-bookings bookings="results.bookingsToPayBeforeToday" text="Prenotazioni precedenti da saldare" pay="pay(b)" delete="delete(b)" showpay="true"></show-bookings>
  <!-- xxx -->

</div>

<div class="item item-text-wrap">
  <!-- xxx -->
  <show-bookings bookings="results.resultsTennisClay" date="date" text="Prenotazioni Tennis - Terra rossa" pay="pay(b)" delete="delete(b)" showpay="true"></show-bookings>
  <!-- xxx -->
</div>

<div class="item item-text-wrap">
  <!-- xxx -->
  <show-bookings bookings="results.resultsTennisHard" date="date" text="Prenotazioni Tennis - Sintetico" pay="pay(b)" delete="delete(b)" showpay="true"></show-bookings>
  <!-- xxx -->
</div>


<div class="item item-text-wrap">
  <!-- xxx -->
  <show-bookings bookings="results.resultsPaddle" date="date" text="Prenotazioni Paddle" pay="pay(b)" delete="delete(b)" showpay="true"></show-bookings>
  <!-- xxx -->
</div>

</ion-content>

</ion-view>
