<ion-view view-title="Open Games">

<ion-content>

<div align="center">
 <ion-spinner class="spinnerx" icon="dots" ng-show="waiting"></ion-spinner> 
 </div>

<p class="center" ng-show="callToActionOpen.length == 0"><br><br>
    <i class="icon ion-information positive"></i> Ancora nessuna partita aperta......
</p>
  
  <div class="list">
  

    <a class="item call" ng-repeat="cta in callToActionOpen" >
       <i class="icon ion-android-done"></i> {{cta.gameType | gameName}}&nbsp;<i class="icon ion-speakerphone" ng-show="cta.callToAction == true"></i><br>

    <b><i class="icon ion-calendar"></i></b> {{cta.date | date:'dd/MM/yyyy'}}<br>
    <b><i class="icon ion-clock"></b></i> {{cta.ranges | range}}<br>

    <b><i class="icon ion-android-pin"></i></b> {{cta.court | courtName:cta.gameType }} <br>
    <b><i class="icon ion-person"></i></b>&nbsp;{{cta.user.nome}} <br>
    <b ng-show="cta.note != null"><i class="icon ion-compose"></i>&nbsp;{{cta.note}} </b>
      
    <div ng-show="cta.players.length > 0 ">
        <i class="icon ion-person-stalker" ></i> (giocatori mancanti: {{cta.playersNumber - cta.players.length}})<br>
        <small ng-repeat="player in cta.players">
        - {{player.nome}} (Livello: {{player.level}}) <br>
        </small>
    </div>

      <button class="button button-positive button-full" ng-click="add(cta)" ng-show="mayIJoin(cta)">
         Unisciti!
      </button>
    </a>
  </div>


  <script id="ok-modal.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ok!</h1>
      </ion-header-bar>
      <ion-content>
      Ok! Ti sei unito al gruppo!
      <button class="button button-block button-positive" ng-click="closeModal()" >
        Chiudi
      </button>

      </ion-content>
    </div>
  </script>




</ion-content>
</ion-view>
