<ion-view view-title="Open Games">



<ion-content>

<div align="center">
 <ion-spinner class="spinnerx" icon="dots" ng-show="waiting"></ion-spinner> 
 </div>


  
  <div class="list">

    <a class="item" ng-repeat="cta in callToActionOpen" >
      <div class="row">
      <div class="col-25">
        <i class="icon ion-ios-tennisball-outline"></i>
      </div>
      <div class="col"><h2><i class="icon ion-calendar"></i> {{cta.get('date') | date:'dd/MM/yyyy'}} &nbsp;<i class="icon ion-clock"></i>{{cta.get('ranges') | range}}</h2>
      <p>Organizzatore:{{cta.get('user').get('nome')}}</p>
      <i class="icon ion-android-pin"></i> {{cta.get('court') | courtName:cta.get('gameType')}} &nbsp;</div></div>


      <div class="list list-inset">
        <div class="item">
          <b>Partecipanti </b>
        </div>
        <div class="item" ng-show="cta.get('players').length == 0">
          Ehiii! Ancora nessun iscritto!
        </div>
        <div class="item" ng-repeat="player in cta.get('players')">

          <b>Username:</b> {{player.get('username')}} - <b>Livello:</b> {{player.get('level')}}
        </div>
      </div>

      <button class="button button-positive button-full" ng-click="add(cta)" ng-show="mayIJoin(cta)">
         Unisciti!
      </button>
    </a>
  </div>


  <script id="ok-modal.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ok!</h1>
      </ion-header-bar>
      <ion-content>
      Ok! Ti sei unito al gruppo!
      <button class="button button-block button-positive" ng-click="closeModal()" >
        Chiudi
      </button>

      </ion-content>
    </div>
  </script>




</ion-content>
</ion-view>
