
<ion-header-bar align-title="left" class="bar-positive">
   <!-- Toggle left side menu -->
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  <h1 class="title">Gestione Livelli di Gioco</h1>
  
</ion-header-bar>

<ion-content class="has-header">
      <div class="list">

      <!-- xx -->
      <label class="item item-divider">
        <div class="item-content" style="color:gray">
          Seleziona il tuo livello di gioco
        </div>
      </label>

      <ion-radio-fix ng-model="currentLevel.value" ng-value="1">
        1 - Cosa è il Padel?
      </ion-radio-fix>
      <ion-radio-fix ng-model="currentLevel.value" ng-value="2">
        2 - Appena capisco le sponde.....
      </ion-radio-fix>
      <ion-radio-fix ng-model="currentLevel.value" ng-value="3">
        3 - Finalmente lo sport che fa per me
      </ion-radio-fix>
      <ion-radio-fix ng-model="currentLevel.value" ng-value="4">
        4 - La bandeja non è più un mistero!
      </ion-radio-fix>
      <ion-radio-fix ng-model="currentLevel.value" ng-value="5">
        5 - Me la gioco con tutti
      </ion-radio-fix>
      <ion-radio-fix ng-model="currentLevel.value" ng-value="6">
        6 - Me la gioco con gli spagnoli!
      </ion-radio-fix>

      <!-- xx -->
        <ion-item>
        <button class="button button-outline button-small button-positive" ng-click="confirmChangeLevel()">
            Conferma 
        </button>
        &nbsp;&nbsp;&nbsp;<ion-spinner class="spinnerx" icon="dots" ng-show="waiting"></ion-spinner> 
        </ion-item>
      </div>

  </ion-content>

  
  