<ion-view view-title="Disponibilità Maestro <b> {{nomeMaestro}} </b>">

<ion-content class="padding">

<div class="list">

    <label class="item item-radio">
      <input type="radio" name="group" ng-model="booking.gameType" value="P">
      <div class="item-content">
        Paddle
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio">
      <input type="radio" name="group" ng-model="booking.gameType" value="Tx2">
      <div class="item-content">
        Tennis - Terra Rossa
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio">
      <input type="radio" name="group" ng-model="booking.gameType" value="Tx4">
      <div class="item-content">
      Tennis - Sintetico
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>

  </div>
</div>



<div class="card" style="text-align:center" ng-if="selectedHours">
  <div class="item item-text-wrap">

    Giorno: {{selectedDay}}
    <i class="icon ion-clock"></i>{{selectedHours}}
  </div>
</div>

<div class="card" style="text-align:center" ng-if="resolved">
  <div class="item item-text-wrap">
    <i class="icon ion-checkmark-circled energized"></i>
    {{resolved}}
  </div>
</div>

<div>
  <month-changer current-month="currentMonth" current-year="currentYear">xxx</month-changer>
</div>
<calendar get-day-status='getDayStatus(pos)' day-clicked='dayClicked(pos)' current-month="currentMonth" current-year="currentYear"></calendar>


</ion-content>

<script id="ranges-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Scegli Orario</h1>
      <button class="button button-light" ng-click="closeModal()">close</button>
    </ion-header-bar>
    <ion-content>

    <label class="item item-input item-floating-label" ng-show="userRole == 'segreteria'">
      <span class="input-label">Utente</span>
      <input type="text" placeholder="Utente" ng-model="booking.note">
    </label>

    <div class="card" style="text-align:center" ng-if="resolved">
      <div class="item item-text-wrap">
        <i class="icon ion-checkmark-circled energized"></i>
        {{resolved}}
      </div>
    </div>
    <hours-range set-range-status='setRangeStatus(pos)' get-range-status='getRangeStatus(pos)'    ng-show="showAddButton"></hours-range>
      <div class="row">
        <div class="col">
        <button class="button button-block button-positive" ng-click="book()" ng-show="showAddButton">
          Prenota
        </button>
        </div>
        <div class="col">
        <button class="button button-block button-assertive" ng-click="closeModal()" ng-show="showAddButton">
          Annulla
        </button>
        </div>
    </div>

    </ion-content>
  </div>
</script>

<script id="ok-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Confermato</h1>

    </ion-header-bar>
    <ion-content>

    <button class="button button-block button-positive" ng-click="closeModalok()" >
      Prenotazione Effettuata!
    </button>

    </ion-content>
  </div>
</script>



</ion-view>
