<ion-view view-title="Disponibilità Maestro">



  <ion-content class="padding">

      <div class="card" style="text-align:center">
      <div class="item item-text-wrap">
        <i class="icon ion-chevron-left" ng-click="changeMonth(-1)"></i> &nbsp;&nbsp;&nbsp;{{currentMonth}}&nbsp;&nbsp;&nbsp;   <i class="icon ion-chevron-right" ng-click="changeMonth(1)"></i>
      </div>
      </div>

<calendar get-day-status='getDayStatus(pos)' day-clicked='dayClicked(pos)' week-days='weekDays' weeks='weeks'></calendar>


<button class="button button-block button-positive" ng-click="addRange()">
  Aggiungi Orario
</button>

<hours-range set-range-status='setRangeStatus(pos)' get-range-status='getRangeStatus(pos)'></hours-range>


<button class="button button-block button-positive" ng-click="deleteBooking()" ng-if="bookedDay">
  Elimina Prenotazione giorno
</button>



  </ion-content>
</ion-view>
