
<ion-header-bar align-title="left" class="bar-positive">
   <!-- Toggle left side menu -->
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  <h1 class="title">Vista Campi {{datex}}</h1>
</ion-header-bar>

<div class="bar bar-header bar-subheader custom">
<div class="center"><ion-spinner class="spinnerx" icon="dots" ng-show="waiting"></ion-spinner></div>
<h5>{{message}}</h5>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="nome (note)" ng-model="mybooking.note" ng-change="clear()">
        </label>
        <button class="button button-small positive" ng-click="book()">
          Conferma
        </button>
        <button class="button button-energized " ng-click="updateView()">
          Aggiorna
        </button>&nbsp;&nbsp;
        <button class="button button-positive " ng-click="gotoStatistics()">
          Indietro
        </button>&nbsp;&nbsp;
        
      </div>
      <div class=" item item-input-inset">
        <div class="col">Orario</div>
         <div class="col" ng-repeat="court in courts">{{court | courtName : "0"}} </div>
      </div>
</div>

<ion-content class="has-header has-subheader-custom" scroll="true">

    


        <div class="row item courtsViewFont" ng-repeat="row in myresults">

        <div class="col">{{row.range | hourFromRange }}</div>

        <div class="col" ng-repeat="court in row.courts"> 
        <i class="icon ion-checkmark-circled my-ion-checkmark-circled {{getRangeStatus(row.range,$index+1)}}" ng-show="court.length == 0" ng-click="setRangeStatus(row.range,$index+1)"></i>
          <span ng-repeat="booking in court">
            {{booking.get('user').get('nome') + " " + booking.get('note')}} <i class="icon ion-information-circled my-ion-information-circled {{booking.get('payed') == true ? 'balanced ' : 'assertive'}}" ng-click="openModal(booking)"></i>
          </span>
        </div>

        </div>

</ion-content>


<script id="bookingDetail.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Info</h1>
      <button class="button button-light" ng-click="closeModal()">close</button>
    </ion-header-bar>
    <ion-content>
   
 <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
 <ul class="list">
    <li class="item">
      <b><i class="icon ion-android-done"></i></b> {{bookingx.get('gameType') | gameName}}&nbsp;
    </li>
    <li class="item">
      <b><i class="icon ion-calendar"></i></b> {{bookingx.get('date') | date:'dd/MM/yyyy'}}&nbsp;
    </li>
    <li class="item">
      <b><i class="icon ion-clock"></b></i> {{bookingx.get('ranges') | range}}&nbsp;&nbsp;
    </li>
    <li class="item">
      <b><i class="icon ion-android-pin"></i></b> {{bookingx.get("court") | courtName:bookingx.get('gameType') }} &nbsp;
    </li>
    <li class="item">
      <b><i class="icon ion-person"></i></b>&nbsp;{{bookingx.get("user").get("nome")}} &nbsp;
    </li>
    <li class="item center">
        <button class="button  button-positive button-small" ng-click="payQuota(bookingx)">
          Aggiungi Quota
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button  button-positive button-small" ng-click="payTessera(bookingx)">
          Aggiungi Tessera
        </button>&nbsp;&nbsp;
    
    </li>
    <li class="item">
      <ion-item class="center">Dettaglio</ion-item>
      <ion-item class="center" ng-show="waiting">
        <ion-spinner class="spinnerx" icon="dots" ng-show="waiting"></ion-spinner>
      </ion-item>
      <ion-list >
        <ion-item ng-repeat="p in payments">
            {{p.get('type')}} - 
            <span ng-show="p.get('user')"> {{p.get('user').get('nome')}} - </span> Data: {{p.createdAt | date: "dd/MM/yyyy HH.mm.ss"}} &nbsp;&nbsp;<i class="icon ion-close my-ion-information-circled assertive" ng-click="deletePayment(p)"></i>
        </ion-item>
      </ion-list>
    </li>

        
    <li class="item" ng-show="bookingx.get('players') != null">
      <i class="icon ion-person-stalker" ></i>&nbsp;
      <ion-list >
        <ion-item ng-repeat="player in bookingx.get('players')">
            {{player.get('nome')}} - Livello: {{player.get('level')}}
        </ion-item>
      </ion-list>
      
    </li>
    <li class="item">
      <div class="row">
        <div class="col-25">
          <b>Pagato:</b>
        </div>
        <div class="col" ng-show="bookingx.get('payed') == true">
          <i class="icon ion-happy-outline balanced my-ion-happy-outline"></i>
        </div>
        <div class="col" ng-show="bookingx.get('payed') == false" ng-click="setBookingPayed(bookingx)">
          <i class="icon ion-sad-outline assertive my-ion-sad-outline"></i>
        </div>
      </div>
    </li>
    <li class="item">
      
      <div class="row">
        <div class="col-75">
         <label class="item item-input">
            <span class="input-label"><b>Note</b></span>
            <input type="text" ng-model="bookingx.note">
          </label>
        </div>
        <div class="col">
          <button class="button  button-positive button-small" ng-click="saveNote(bookingx)">
              salva
          </button>&nbsp;
        </div>
        </div>
    </li>
    <li class="item center">
    <button class="button button-assertive" ng-click="delete(bookingx)">
              Elimina
    </button>&nbsp;
    </li>
</ul>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    </ion-content>
  </div>
</script>

<script id="addPaymentTessera.html" type="text/ng-template">
  <div class="modal"> 
    <ion-header-bar class="bar-stable">
      <h1 class="title">Ricerca Utente</h1>
      <button class="button button-light" ng-click="closeAddPaymentTesseraModal()">close</button>
    </ion-header-bar>
    <ion-content>
    <ion-item class="center" ng-show="waiting">
        <ion-spinner class="spinnerx" icon="dots" ng-show="waiting"></ion-spinner>
      </ion-item>
    <div class="item center"> {{messageModalTessera}}</div>
 <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="text" placeholder="Nome Utente " ng-model="searchUser.name" >
        </label>
        <button class="button button-small positive" ng-click="searchUserForAddingPayment()">
          cerca..
        </button>
    </div>
    <ion-item class="center" ng-show="usersForAddingPayment.length > 0"> <b>Registra pagamento</b></ion-item>
    <ion-item ng-repeat="user in usersForAddingPayment"> 
    <div class="row">
        <div class="col">
        {{user.get('nome')}}
        </div>
         <div class="col">
         <button class="button button-small button-positive" ng-click="payTessera(user)">
          Registra
        </button>
        </div>
      </div>
    </ion-item>
    
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    </ion-content>
  </div>
</script>








