

<ion-slide-box show-pager="true" active-slide="0" pager-click="slide(index)" does-continue="true">


<ion-slide>
  <ion-header-bar>
        <h1 class="title">Benvenuto!</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/logo.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col center">
        Ciao {{currentUser.get('username')}}! Qui e nelle pagine successive troverai alcune (poche....) spiegazioni per utilizzare al meglio <b>Magic Padel App.</b>
        Potrai prenotare una lezione con un maestro a tua scelta, prenotare un campo o unirti a partite organizzate da altri membri.
        Ma andiamo con ordine....
      </div>
    </div>
  </ion-content>
</ion-slide>

<ion-slide>
  <ion-header-bar>
        <h1 class="title">Home!</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/home.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col center">
        Questa è la pagina nella quale potrai ricevere notizie riguardanti tornei, promozioni, etc.
      </div>
    </div>
  </ion-content>
</ion-slide>



<ion-slide>
  <ion-header-bar>
        <h1 class="title">Lezione</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/maestri.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col center">
        Usa questa pagina se desideri prenotare una lezione con il maestro.
      </div>
    </div>
  </ion-content>
</ion-slide>

<ion-slide>
  <ion-header-bar>
        <h1 class="title">Lezione</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/lezione1.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col center">
        Scegli il giorno
      </div>
    </div>
  </ion-content>
</ion-slide>

<ion-slide>
  <ion-header-bar>
        <h1 class="title">Lezione</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/lezione2.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col center">
        Scegli l'orario e conferma. Fatto!
      </div>
    </div>
  </ion-content>
</ion-slide>

<ion-slide>
  <ion-header-bar>
        <h1 class="title">Prenota</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/prenota1.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col center">
        Questa è la sezione dalla quale potrai prenotare un campo. Prima seleziona il giorno nel quale vuoi giocare.
      </div>
    </div>
  </ion-content>
</ion-slide>


<ion-slide>
  <ion-header-bar>
        <h1 class="title">Prenota</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/prenota2.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col center">
        Seleziona l'orario ed il campo tra quelli disponibili. Utilizza l'opzione <b>Call To Action</b> se vuoi organizzare una partita aperta ovvero una partita alla quale potranno prendere parte altri giocatori.
      </div>
    </div>
  </ion-content>
</ion-slide>

<ion-slide>
  <ion-header-bar>
        <h1 class="title">Prenota</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/prenota3.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col center">
        Conferma ed il gioco è fatto!
      </div>
    </div>
  </ion-content>
</ion-slide>


<ion-slide>
  <ion-header-bar>
        <h1 class="title">Open Game</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/cta.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col center">
        Qui potrai vedere le partite aperte: se hai un livello adeguato potrai unirti alla sfida!
      </div>
    </div>
  </ion-content>
</ion-slide>

<ion-slide>
  <ion-header-bar>
        <h1 class="title">Account</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/account.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col center">
        Da questa pagina potrai cambiare la password, il tuo livello di gioco e visualizzare i tuoi prossimi appuntamenti.
        Puoi anche cancellare una prenotazione facendo scorrere l'elemento selezionato da destra verso sinistra.<br>
        Ora tocca a te: <b>buon divertimento!</b>
      </div>
    </div>
  </ion-content>
</ion-slide>

</ion-slide-box>
