
<div class="bar bar-header item-input-inset">

  <button class="button button-positive button-outline" ng-click="close()">
    chiudi
  </button>&nbsp;&nbsp;
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Scrivi i primi tre caratteri del nome" ng-model="model.name">
  </label>
  <button class="button button-clear" ng-click="search()">
    Cerca
  </button>

</div>


<ion-content class="has-header">

  <br>

  <div class="list">
    <div class="item item-button-right" ng-repeat="p in players">
      <h1><i class="icon ion-person"></i> {{p.get('nome')}}</h1>

        <i class="icon ion-ios-speedometer-outline"></i> {{p.get('level')}}


    <button class="button button-positive button-outline" ng-click="invite(p.id)">
      <i class="icon ion-ios-plus-outline"></i>
    </button>
  </div>


  </div>


  <ion-item>Inviti già spediti: {{invitations.length}}</ion-item>
  <div class="list">
          <span class="item item-avatar" ng-repeat="i in invitations">
          <img src="img/man.png">
          <h2>{{i.get('user').get('nome')}}</h2>
          <p>
            <i class="icon ion-ios-speedometer-outline"></i> {{i.get('user').get('level')}}
          </p>
        </span>
  </div>

</ion-content>
<div class="bar bar-footer bar-light">
  <div class="title"></div>
</div>
