
<div class="bar bar-header item-input-inset">

  <button class="button button-positive button-outline" ng-click="close()">
    chiudi
  </button>&nbsp;&nbsp;
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Scrivi i primi tre caratteri del nome" ng-model="model.name">
  </label>
  <button class="button button-clear" ng-click="search()">
    Cerca
  </button>

</div>


<ion-content class="has-header">

  <br>

  <div class="list">
      <ion-item class="center" ng-show="waiting">
        <ion-spinner class="spinnerx" icon="dots" ng-show="waiting"></ion-spinner>
      </ion-item>
      <ion-item ng-repeat="p in players"><i class="icon ion-person"></i> {{p.get('nome')}}&nbsp;&nbsp;<i class="icon ion-ios-speedometer-outline"></i> {{p.get('level')}} &nbsp;&nbsp;&nbsp;&nbsp;
          <i class="icon ion-ios-plus-outline my-ion-happy-outline positive" ng-click="invite(p)"></i>
      </ion-item>
   
  </div>


  <ion-item>Inviti già spediti: {{invitations.length}}</ion-item>
  <div class="list">
          <span class="item item-avatar" ng-repeat="i in invitations">
          <img src="img/man.png">
          <h2>{{i.get('user').get('nome')}}</h2>
          <p>
            <i class="icon ion-ios-speedometer-outline"></i> {{i.get('user').get('level')}}
          </p>
        </span>
  </div>

</ion-content>
<div class="bar bar-footer bar-light">
  <div class="title"></div>
</div>
