<div>

  <div class="list" ng-show="registered">
    <label class="item item-input item-floating-label">
      <span class="input-label">email</span>
      <input type="text" placeholder="email" ng-model="currentUser.email">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">password</span>
      <input type="text" placeholder="password" ng-model="currentUser.password">
    </label>
    <button class="button button-full button-positive" ng-click="login()">
        entra
    </button>
    <p>
    Non sei ancora registrato? <a ui-sref="signUp">Registrati!</a>
    </p>
  </div>

  <div class="list" ng-hide="registered">
    <label class="item item-input item-floating-label">
      <span class="input-label">email</span>
      <input type="text" placeholder="email" ng-model="currentUser.email">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">password</span>
      <input type="text" placeholder="password" ng-model="currentUser.password">
    </label>
    <button class="button button-full button-positive" ng-click="signUp()">
        Registrati
    </button>

  </div>

</div>
