
<ion-header-bar align-title="left" class="bar-positive">
   <!-- Toggle left side menu -->
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  <h1 class="title">Gestione Iscrizione Circoli</h1>
  
</ion-header-bar>

<ion-content class="has-header">

  <ion-item> <b>Circolo Predefinito: </b>{{circolo.get('nome')}}</ion-item>
  <ion-list>
    <ion-item ng-repeat="c in subscriptions" class="item-button-right">
        {{c.get('nome')}}
         <div class="buttons">

            <button class="button  button-outline button-positive" ng-click="setAsDefault(c)"  ng-show="circolo.id != c.id && c.manage == 'unsubscribe'">
                     Predefinito</button>

           <button class="button  button-outline button-positive" ng-click="subscribe(c)" ng-show="c.manage == 'subscribe'">
               subscribe</button>
          </div>
    </ion-item>
  </ion-list>


</ion-content>

