<ion-header-bar class="bar-positive ">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
<h1 class="title">Gestione Utenti</h1>
 </ion-header-bar>

 <div class="bar bar-header bar-subheader custom">
        <ion-item> {{message}} </ion-item>
        <div class="center">
            <ion-spinner class="spinnerx" icon="dots" ng-show="waiting"></ion-spinner> 
        </div>
   <div class="item item-input-inset ">
    <label class="item-input-wrapper">
      <input type="text" placeholder="nome " ng-model="userToSearch.nome" ng-change="clear()">
    </label>
    <button class="button button-positive" ng-click="findUsers()">
      Cerca (max 20 record)
    </button>
    
    <button class="button button-assertive " ng-click="getUsersToEnable()">
      Utenti da abilitare..
    </button>
  </div>
 </div>

  
  <ion-content class="has-header has-subheader-custom" scroll="true">

  

    <div class="row item courtsViewFont">
      <div class="col"><i class="icon ion-search" ng-click=""></i> Nome</div>
      
      <div class="col"><b>Telefono</b></div>
      <div class="col"><b>Data Iscriz.</b></div>
      <div class="col"><b>Livello</b></div>
      <div class="col"><b>Credito</b></div>
      <div class="col"><b>Abilitato</b></div>
      <div class="col"><b>Ricariche</b></div>
      <div class="col"><b>Pagamenti</b></div>
    </div>

      <div class="row item courtsViewFont" ng-repeat="user in myresults">
        <div class="col"><i class="icon ion-search" ng-click=""></i>  {{user.get('nome')}}</div>
        
        <div class="col">{{user.get('phoneNumber')}}</div>
        <div class="col">{{user.createdAt | date: 'dd/MM/yyyy'}}</div>
        <div class="col">{{user.get('level')}} <i class="icon ion-edit energized my-ion-checkmark-circled" ng-click="changeLevelOpen(user)"></i></div> 
        <div class="col">{{user.get('residualCredit')}}</div>
        <div class="col"><i class="icon my-ion-checkmark-circled {{user.get('enabled') == true ? 'ion-thumbsup' : 'ion-thumbsdown'}}" ng-click="enabling(user)"></i> </div>
        
        <div class="col"><i class="icon ion-card my-ion-checkmark-circled" ng-click="getRecharges(user)"></i> </div>
        <div class="col"><i class="icon ion-cash my-ion-checkmark-circled" ng-click="getPayments(user)"></i> </div>

      </div>
  </ion-content>



<script id="recharge.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Elenco Ricariche</h1>
      <button class="button button-light" ng-click="closeRechargeModal()">close</button>
    </ion-header-bar>
    <ion-content>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="number" placeholder="Quantità " ng-model="recharge.qty" >
        </label>
        <button class="button button-small positive" ng-click="addCharge()">
          Aggiungi
        </button>
      </div>

    <div class="row item courtsViewFont">
        <div class="col">Data</div>
        <div class="col">Quantità</div>
      </div>
   
 <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
      <div class="row item courtsViewFont" ng-repeat="charge in recharges">
          <div class="col"><i class="icon ion-search" ng-click=""></i>  {{charge.createdAt | date: "dd/MM/yyyy"}}</div>
          <div class="col">{{charge.get('qty')}}</div>
        </div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    </ion-content>
  </div>
</script>

<script id="payments.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Pagamenti</h1>
      <button class="button button-light" ng-click="closePaymentModal()">close</button>
    </ion-header-bar>
    <ion-content>


    <div class="row item courtsViewFont">
        <div class="col">Data Pagamento</div>
        <div class="col">Quantità</div>
        <div class="col">Data Partita</div>
      </div>
   
 <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
      <div class="row item courtsViewFont" ng-repeat="p in payments">
          <div class="col">{{p.createdAt | date: "dd/MM/yyyy"}}</div>
          <div class="col">{{p.get('qty')}}</div>
          <div class="col">{{p.get('booking').get('date') | date: 'dd/MM/yyyy'}}</div>
        </div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    </ion-content>
  </div>
</script>

<script id="changeLevel.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Dettagli</h1>
      <button class="button button-light" ng-click="changeLevelClose()">close</button>
    </ion-header-bar>
    <ion-content>
            

      <!-- xx -->
      <label class="item item-divider">
        <div class="item-content" style="color:gray">
          Modifica il livello di gioco
        </div>
      </label>

      <ion-radio-fix ng-model="userx.level" ng-value="1">
        1 - Cosa è il Padel?
      </ion-radio-fix>
      <ion-radio-fix ng-model="userx.level" ng-value="2">
        2 - Appena capisco le sponde.....
      </ion-radio-fix>
      <ion-radio-fix ng-model="userx.level" ng-value="3">
        3 - Finalmente lo sport che fa per me
      </ion-radio-fix>
      <ion-radio-fix ng-model="userx.level" ng-value="4">
        4 - La bandeja non è più un mistero!
      </ion-radio-fix>
      <ion-radio-fix ng-model="userx.level"ng-value="5">
        5 - Me la gioco con tutti
      </ion-radio-fix>
      <ion-radio-fix ng-model="userx.level" ng-value="6">
        6 - Me la gioco con gli spagnoli!
      </ion-radio-fix>

      <!-- xx -->
        <ion-item>
        <button class="button button-outline button-small button-positive" ng-click="confirmChangeLevel(userx)">
            Conferma
        </button>
        </ion-item>
      </div>
    </ion-content>
  </div>
</script>






