<div>
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>

    <div class="col"><button class="button button-small button-{{getRangeStatus({pos:15})}}" ng-click="setRangeStatus({pos:15})"><small>07.00 07.30</small></button></div>

    <div class="col"><button class="button button-small button-{{getRangeStatus({pos:16})}}" ng-click="setRangeStatus({pos:16})"><small>07.30 08.00</small></button></div>
</div>

<div class="row">
  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:17})}}" ng-click="setRangeStatus({pos:17})"><small>08.00 80.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:18})}}" ng-click="setRangeStatus({pos:18})"><small>08.30 09.00</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:19})}}" ng-click="setRangeStatus({pos:19})"><small>09.00 09.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:20})}}" ng-click="setRangeStatus({pos:20})"><small>09.30 10.00</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:21})}}" ng-click="setRangeStatus({pos:21})"><small>10.00 10.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:22})}}" ng-click="setRangeStatus({pos:22})"><small>10.30 11.00</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:23})}}" ng-click="setRangeStatus({pos:23})"><small>11.00 11.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:24})}}" ng-click="setRangeStatus({pos:24})"><small>11.30 12.00</small></button></div>
</div>

<div class="row">
  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:25})}}" ng-click="setRangeStatus({pos:25})"><small>12.00 12.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:26})}}" ng-click="setRangeStatus({pos:26})"><small>12.30 13.00</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:27})}}" ng-click="setRangeStatus({pos:27})"><small>13.00 13.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:28})}}" ng-click="setRangeStatus({pos:28})"><small>13.30 14.00</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:29})}}" ng-click="setRangeStatus({pos:29})"><small>14.00 14.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:30})}}" ng-click="setRangeStatus({pos:30})"><small>14.30 15.00</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:31})}}" ng-click="setRangeStatus({pos:31})"><small>15.00 15.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:32})}}" ng-click="setRangeStatus({pos:32})"><small>15.30 16.00</small></button></div>
</div>

<div class="row">
  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:33})}}" ng-click="setRangeStatus({pos:33})"><small>16.00 16.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:34})}}" ng-click="setRangeStatus({pos:34})"><small>16.30 17.00</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:35})}}" ng-click="setRangeStatus({pos:35})"><small>17.00 17.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:36})}}" ng-click="setRangeStatus({pos:36})"><small>17.30 18.00</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:37})}}" ng-click="setRangeStatus({pos:37})"><small>18.00 18.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:38})}}" ng-click="setRangeStatus({pos:38})"><small>18.30 19.00</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:39})}}" ng-click="setRangeStatus({pos:39})"><small>19.00 19.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:40})}}" ng-click="setRangeStatus({pos:40})"><small>19.30 20.00</small></button></div>
</div>

<div class="row">
  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:41})}}" ng-click="setRangeStatus({pos:41})"><small>20.00 20.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:42})}}" ng-click="setRangeStatus({pos:42})"><small>20.30 21.00</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:43})}}" ng-click="setRangeStatus({pos:43})"><small>21.00 21.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:44})}}" ng-click="setRangeStatus({pos:44})"><small>21.30 22.00</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:45})}}" ng-click="setRangeStatus({pos:45})"><small>22.00 22.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:46})}}" ng-click="setRangeStatus({pos:46})"><small>22.30 23.00</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:47})}}" ng-click="setRangeStatus({pos:47})"><small>23.00 23.30</small></button></div>
  <div class="col"></div>



</div>




</div>
