<div>
  <div class="row">
  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:1})}}" ng-click="setRangeStatus({pos:1})"><small>00.00 00.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:2})}}" ng-click="setRangeStatus({pos:2})"><small>00.00 00.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:3})}}" ng-click="setRangeStatus({pos:3})"><small>00.00 00.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:4})}}" ng-click="setRangeStatus({pos:4})"><small>00.00 00.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:5})}}" ng-click="setRangeStatus({pos:5})"><small>00.00 00.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:6})}}" ng-click="setRangeStatus({pos:6})"><small>00.00 00.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:7})}}" ng-click="setRangeStatus({pos:7})"><small>00.00 00.30</small></button></div>

  <div class="col"><button class="button button-small button-{{getRangeStatus({pos:8})}}" ng-click="setRangeStatus({pos:8})"><small>00.00 00.30</small></button></div>

</div>
<div class="row">
<div class="col"><button class="button button-small button-stable"><small>00.00 00.30</small></button></div>
<div class="col"><button class="button button-small button-stable"><small>00.00 00.30</small></button></div>
<div class="col"><button class="button button-small button-stable"><small>00.00 00.30</small></button></div>
<div class="col"><button class="button button-small button-stable"><small>00.00 00.30</small></button></div>
<div class="col"><button class="button button-small button-stable"><small>00.00 00.30</small></button></div>
<div class="col"><button class="button button-small button-stable"><small>00.00 00.30</small></button></div>
<div class="col"><button class="button button-small button-stable"><small>00.00 00.30</small></button></div>
<div class="col"><button class="button button-small button-stable"><small>00.00 00.30</small></button></div>
</div>


</div>
