
<div class="bar bar-header item-input-inset">
  <button class="button button-positive button-outline" ui-sref="signUp">
    chiudi
  </button>&nbsp;&nbsp;
  </div>

<ion-content class="has-header">
<br>

<div class="card">
<div class="item item-divider">
    <p><strong>Informativa Privacy ai sensi dell&rsquo;art.13 D.lgs. 193/2003</strong></p>
  </div>
  <div class="item item-text-wrap">
<p><strong>Magic Booking</strong> &egrave; consapevole dell&rsquo;importanza della tutela dei dati personali e, considerato che internet &egrave; potenzialmente un grande strumento di scambio e circolazione di informazioni, si impegna a rispettare le regole di condotta sancite dal decreto legislativo 30 giugno 2003 n&deg; 196 (<em>codice in materia di protezione dei dati personali</em>) dirette ad assicurare una controllata e garantita navigazione in rete nonch&eacute; la tutela delle persone e degli altri soggetti indicati da detta normativa, con riferimento al trattamento dei dati personali.&nbsp;<br />
Tale trattamento sar&agrave; improntato, in armonia con la normativa indicata, ai principi di correttezza, liceit&agrave; e di tutela dei diritti dei soggetti ivi previsti. Magic Booking desidera, inoltre, informarLa che i Suoi dati personali saranno trattati nel rispetto delle normative vigenti, nelle forme e nei limiti prescritti dalla legge.<br />
Ai sensi dell&#39;articolo 13 del D.lgs. n.196/2003, ove applicabile, Le forniamo le seguenti informazioni:</p>

<p>1. I dati da Lei forniti verranno trattati per la Sua registrazione alla piattaforma Magic Booking, nonch&eacute; per la fruizione del servizio di informazione su iniziative, anche di carattere commerciale, del Circolo/Associazione Sportiva Dilettantistica (d&rsquo;ora in poi ASD) di appartenenza. Tale servizio informativo potr&agrave; avvenire anche tramite newsletter o invio di e-mail allo scopo di promuovere le iniziative poste in essere dal Circolo/ASD.</p>

<p>2. Il trattamento sar&agrave; effettuato con l&rsquo;ausilio di supporti informatici sempre nel rispetto delle prescrizioni di cui all&rsquo;art.11 D.lgs. n.196/2003. I dati personali raccolti con la presente registrazione potranno essere trattati da incaricati del trattamento preposti alla gestione dei servizi richiesti ed alle attivit&agrave; di marketing.</p>

<p>3. Il conferimento dei dati &egrave;:<br />
- obbligatorio relativamente ai dati identificati come &quot;campi obbligatori&quot; e l&#39;eventuale rifiuto di fornire tali dati comporter&agrave; la mancata esecuzione della registrazione; ci&ograve; in quanto i dati in oggetto assumono valenza identificativa per consentirLe l&rsquo;accesso al sistema;<br />
- facoltativo relativamente ai dati identificati come &quot;campi facoltativi&quot;; l&#39;eventuale omessa fornitura di tali dati non pregiudicher&agrave; l&#39;erogazione del servizio.</p>

<p>4. I dati potranno essere comunicati:<br />
- a societ&agrave; controllate e collegate, soggetti privati, associazioni, fondazioni enti od organismi senza scopi di lucro, persone giuridiche, societ&agrave; di persone o di capitali, imprese individuali esclusivamente per i fini connessi all&rsquo;erogazione del servizio cui Lei ha aderito;&nbsp;</p>

<p>5. Il titolare del trattamento &egrave; il Circolo/ASD per la quale Lei richiede l&rsquo;iscrizione</p>

<p>6. Il responsabile del trattamento &egrave; il responsabile del Circolo/ASD.<br />
Il titolare ed il responsabile del trattamento non assumono alcuna responsabilit&agrave; in ordine a dati inveritieri forniti direttamente dall&rsquo;utente, nonch&eacute; nell&rsquo;eventualit&agrave; che i dati Lei riguardanti siano stati forniti, anche senza il Suo assenso o contro la Sua volont&agrave;, da un soggetto terzo.</p>

<p>7. I dati oggetto di trattamento potranno essere trasferiti anche in Paesi dell&#39;UE od in paesi terzi, ed il Suo consenso si intende fornito anche ex. Art. 43 c.1 lettera a) dlgs 196/03.</p>

<p>8. In ogni momento i soggetti destinatari delle tutele di cui al D.lgs.196/2003 potranno esercitare i diritti previsti dall&#39;art. 7 e s.m.i. che per comodit&agrave; sono riprodotti di seguito:<br />
&ldquo;L&#39;interessato ha diritto di ottenere la conferma dell&#39;esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile.</p>

<p>L&rsquo;interessato ha diritto di ottenere l&rsquo;indicazione:<br />
a) dell&rsquo;origine dei dati personali;<br />
b) delle finalit&agrave; e modalit&agrave; del trattamento;<br />
c) della logica applicata in caso di trattamento effettuato con l&rsquo;ausilio di strumenti elettronici;<br />
d) degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell&rsquo;articolo 5, comma 2;<br />
e) dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualit&agrave; di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.</p>

<p>L&rsquo;interessato ha diritto di ottenere:<br />
a) l&#39;aggiornamento, la rettificazione ovvero, quando vi ha interesse, l&#39;integrazione dei dati;<br />
b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non &egrave; necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;<br />
c) l&#39;attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.<br />
L&rsquo;interessato ha diritto di opporsi, in tutto o in parte:<br />
a) per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorch&eacute; pertinenti allo scopo della raccolta;<br />
b) al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale&rdquo;.</p>

<p>&nbsp;</p>
  </div>
</div>




</ion-content>

