<ion-view>
<ion-header-bar align-title="left" class="bar-positive">
  <h1 class="title">Reset Password</h1>
  </ion-header-bar>

<ion-content class="has-header center">

<label class="item item-input item-floating-label">
        <span class="input-label">Nuova Password</span>
        <input type="text" placeholder="Nuova Password" ng-model="currentUser.newPassword">
</label>
	<br>
	<button class="button button-outline button-small button-assertive" ng-click="changePassword()">
            Cambia Password
     </button>
	<button class="button button-outline button-small button-positive" ng-click="undo()">
            Annulla
     </button>
</ion-content>

</ion-view>


