<ion-view view-title="Disponibilità">

<ion-content class="padding">

  <month-changer current-month="currentMonth" current-year="currentYear">xxx</month-changer>

  <calendar coach-avalabilities='coachAvalabilities' coach="true" selected-day="selectedDay" day-clicked='dayClicked(pos)' current-month="currentMonth" current-year="currentYear" selectedays="selectedDays"></calendar>

<div class="card" style="text-align:center" ng-show="mymessage">
  <div class="item item-text-wrap">
    <i class="icon ion-clock"></i>
    {{mymessage}}
  </div>
</div>



<button class="button button-block button-positive" ng-click="addRange()" ng-hide="showDeleteButton">
  Aggiungi Orario. </button>

<hours-range set-range-status='setRangeStatus(pos)' get-range-status='getRangeStatus(pos)'></hours-range>



<button class="button button-block button-assertive" ng-click="deleteAvalability()" ng-show="showDeleteButton">
  Elimina Prenotazione giorno
</button>


</ion-content>
</ion-view>
