
<ion-header-bar align-title="left" class="bar-positive">
   <!-- Toggle left side menu -->
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  <h1 class="title">Seleziona Disciplina</h1>
  
</ion-header-bar>

<ion-content class="has-header">
    
   
      <div class="list" >

      

      <ion-radio-fix ng-model="currentGameType.value" ng-value="{{$index}}" ng-repeat="game in gameTypes track by $index">
        {{game.name}}
      </ion-radio-fix>
      
      
      </div>

  
    
    
        <button class="button button-block  button-positive" ng-click="close()">
            Chiudi 
        </button>
       
     
  </ion-content>

  
  