
<ion-header-bar align-title="left" class="bar-positive">
   <!-- Toggle left side menu -->
  <h1 class="title">Registrazione</h1>
  <button class="button button-clear " ng-click="closeSignupx()">Annulla</button>
   
</ion-header-bar>

<ion-content class="has-header">


    <div class="list" ng-hide="registered">
      <label class="item item-input item-floating-label">
        <span class="input-label">email</span>
        <input type="email" placeholder="email (obbligatorio)" ng-model="currentUser.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">username</span>
        <input type="text" placeholder="username (obbligatorio)" ng-model="currentUser.username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Nome e Cognome</span>
        <input type="text" placeholder="Nome e Cognome" ng-model="currentUser.nome">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Telefono</span>
        <input type="text" placeholder="Telefono" ng-model="currentUser.phoneNumber">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Codice Fiscale</span>
        <input type="text" placeholder="codice fiscale" ng-model="currentUser.codfis">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">password</span>
        <input type="password" placeholder="password (obbligatorio)" ng-model="currentUser.password">
      </label>

      <label class="item item-divider">

        <div class="item-content" style="color:gray">
          Seleziona il tuo circolo (obbligatorio)&nbsp;
          <ion-spinner class="spinnerx" icon="dots" ng-show="waiting"></ion-spinner> 
        </div>
      </label>
                <ion-radio-fix ng-model="currentUser.circolo" ng-value="c.id" ng-repeat="c in circoli">
                  {{c.get('nome')}}
                </ion-radio-fix>

      <br>

      <label class="item item-divider">

        <div class="item-content" style="color:gray">
          Seleziona il tuo livello di gioco
        </div>

      </label>
                <ion-radio-fix ng-model="currentUser.level" ng-value="1">
                  1 - Cosa è il Padel?
                </ion-radio-fix>
                <ion-radio-fix ng-model="currentUser.level" ng-value="2">
                  2 - Appena capisco le sponde.....
                </ion-radio-fix>
                <ion-radio-fix ng-model="currentUser.level" ng-value="3">
                  3 - Finalmente lo sport che fa per me
                </ion-radio-fix>
                <ion-radio-fix ng-model="currentUser.level" ng-value="4">
                  4 - La bandeja non è più un mistero!
                </ion-radio-fix>
                <ion-radio-fix ng-model="currentUser.level" ng-value="5">
                  5 - Me la gioco con tutti
                </ion-radio-fix>
                <ion-radio-fix ng-model="currentUser.level" ng-value="6">
                  6 - Me la gioco con gli spagnoli!
                </ion-radio-fix>

<br>
              <div ng-hide="platform == 'ios' || platform == 'android'">
                  <div vc-recaptcha
                  key="'6Lc5tw4TAAAAAM3BaRQP0tK_Lxo1Ox_VRRCibheg'"
                  theme="light"
                  on-success="setResponse(response)">
                  </div>
              </div>

      <ion-item class="item-text-wrap alert" ng-show="mymessage.text">
       {{mymessage.text}}
      </ion-item>

<br>
<p class="center">
&nbsp;&nbsp;<i class="icon {{privacy == false ? 'ion-android-checkbox-outline-blank' : 'ion-android-checkbox-outline positive' }} my-ion-checkmark-circled" ng-click="setPrivacy()"></i>&nbsp;&nbsp;Accetto termini e condizioni e Informativa sulla <a ui-sref="privacy">privacy</a>
</p>

      
      <button class="button button-full button-positive" ng-click="signUp()">
          Registrati
      </button>

  

</ion-content>
