<ion-view view-title="Account">
  <ion-content>
  <ion-refresher pulling-text="aggiorna..." on-refresh="doRefresh()"></ion-refresher>

<p ng-show="message" class="item center alert">{{message}}</p>

        <ion-list >
          
          <a class="item item-icon-left" >
            <i class="icon ion-email"></i>
             {{currentUser.get('email')}}
          </a>
        
          <a class="item item-icon-left item-icon-right" ng-click="openCameraModal()">
            <i class="icon ion-camera"></i>
             (foto)
            <i class="icon ion-chevron-right"></i>
          </a>
            
            <a class="item item-icon-left item-icon-right" ng-click="openStatusModal()">
            <i class="icon ion-chatbubble-working"></i>
             (status)
            <i class="icon ion-chevron-right"></i>
          </a>
            
          <a class="item item-icon-left" >
            <i class="icon ion-social-euro"></i><small>(crediti)</small>
            {{currentUser.get('residualCredit')}}
          </a>
          <a class="item item-icon-left" >
            <i class="icon ion-connection-bars"></i>
            <small>(livello)</small> {{currentUser.get('level')}} 
          </a>

          <a class="item item-icon-left item-icon-right" ng-click="openProssimiImpegniModal()">
            <i class="icon ion-calendar"></i>
            <small>(prossimi impegni)</small>
            <i class="icon ion-chevron-right"></i>
            
          </a>

           <a class="item item-icon-left item-icon-right" ng-click="openInvitiModal()">
            <i class="icon ion-at"></i>
            <small>(inviti)</small> 
            <i class="icon ion-chevron-right"> <span class="badge badge-assertive">{{invitationCount}}</span></i>
          </a>

           <a class="item item-icon-left  item-icon-right" ng-click="openSaldareModal()">
            <i class="icon ion-card"></i>
             <small>(partite da saldare)</small>
            <i class="icon ion-chevron-right"></i>
           
          </a>

        </ion-list >



    <ion-item class="item-text-wrap center"><b><i class="icon ion-ios-loop-strong energized my-ion-checkmark-circled"></i>&nbsp;&nbsp;Trascina in  basso per aggiornare...</b></ion-item>

  </ion-content>
    
<script id="camera.html" type="text/ng-template">
  <div class="modal"> 
    <ion-header-bar class="bar-stable">
      <h1 class="title">Foto Attuale</h1>
      <button class="button button-light" ng-click="closeCameraModal()">close</button>
    </ion-header-bar>
  <ion-content>
    <small>{{error}}</small>
 <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    <div class="item item-text-wrap">
      
        <div class="center">
            <img src="{{currentUser.get('image').url()}}">
        </div>
        <button class="button button-positive button-block" ng-click="takePicture()">Scatta Foto</button>
    </div>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    </ion-content>
  </div>
</script>

<script id="prossimiImpegni.html" type="text/ng-template">
  <div class="modal"> 
    <ion-header-bar class="bar-stable">
      <h1 class="title">Prossimi Impegni&nbsp;<i class="icon ion-information-circled positive" ng-click="infoProssimiImpegni()"></i></h1>
      <button class="button button-light" ng-click="closeProssimiImpegniModal()">close</button>
    </ion-header-bar>
  <ion-content>
    <div class="center mymessage">{{message}}</div>
 <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
     <div class="item item-text-wrap" >
      <p class="center" ng-show="waitingMyBookings">
        <ion-spinner class="spinnerx" icon="dots" ng-show="waitingMyBookings"></ion-spinner>
      </p>
      <!-- xxx -->
      <show-bookings bookings="bookings" text="Prossimi impegni"  delete="delete(b)" invitation="invitation(b)" showpay="false" call="setCallToAction(b)" message="gotoMessage(b)"></show-bookings>
      <!-- xxx -->
    </div>
    
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    </ion-content>
  </div>
</script>

<script id="inviti.html" type="text/ng-template">
  <div class="modal"> 
    <ion-header-bar class="bar-stable">
      <h1 class="title">Inviti Ricevuti</h1>
      <button class="button button-light" ng-click="closeInvitiModal()">close</button>
    </ion-header-bar>
  <ion-content>
    <small>{{error}}</small>
 <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    <div class="item item-text-wrap" >
        <p ng-show="waitingMyInvitations" class="center">
          <ion-spinner class="spinnerx" icon="dots" ng-show="waitingMyInvitations"></ion-spinner>
        </p>
        
        <p class="center" ng-show="invitations.length == 0">
            <i class="icon ion-information positive"></i> Non hai nessun invito....
        </p>
        
        <p class="center" ng-show="invitations.length != 0" >
            (Trascina gli elementi verso destra)
        </p>
        
      <ion-list >
        
        
        <ion-item ng-repeat="i in invitations">

          <b><i class="icon ion-android-done"></i></b> {{i.get('booking').get('gameType') | gameName}}<br>
          <b><i class="icon ion-person"></i></b> {{i.get('booking').get('user').get('nome')}}<br>
          

          <b><i class="icon ion-calendar"></i></b> {{i.get('booking').get('date') | date:'dd/MM/yyyy'}}<br>
          <b><i class="icon ion-clock"></b></i> {{i.get('booking').get('ranges') | range}}<br>
          <b><i class="icon ion-android-pin"></i></b> {{i.get('booking').get("court") | courtName:i.get('booking').get('gameType') }}<br>

        <div ng-show="booking.get('players').length > 0 ">
            <i class="icon ion-person-stalker" ></i><br>
            <small ng-repeat="player in i.get('booking').get('players') track by $index">
            - {{player.get('nome')}} (Livello: {{player.get('level')}}) <br>
            </small>
        </div>
       
          <ion-option-button class="button-balanced"
                           ng-click="accept(i)">
          Accetta
        </ion-option-button>
          <ion-option-button class="button-assertive"
                           ng-click="decline(i)">
          Declina
        </ion-option-button>

        </ion-item>

    </div>
    
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    </ion-content>
  </div>
</script>

<script id="saldare.html" type="text/ng-template">
  <div class="modal"> 
    <ion-header-bar class="bar-stable">
      <h1 class="title">Partite da saldare</h1>
      <button class="button button-light" ng-click="closeSaldareModal()">close</button>
    </ion-header-bar>
  <ion-content>
    <small>{{error}}</small>
 <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    <div class="item item-text-wrap">
      <p class="center" ng-show="waitingMyGameNotPayed">
          <ion-spinner class="spinnerx" icon="dots" ng-show="waitingMyGameNotPayed"></ion-spinner>
      </p>
      <ion-list >
        <ion-item><b>Partite da saldare <i class="icon ion-information-circled positive" ng-click="infoPayment()"></i></b></ion-item>
        
        <ion-item ng-repeat="booking in gameNotPayed">

          <b><i class="icon ion-person"></i></b> {{booking.get('user').get('nome')}}<br>
          <b><i class="icon ion-android-done"></i></b> {{booking.get('gameType') | gameName}}<br>

          <b><i class="icon ion-calendar"></i></b> {{booking.get('date') | date:'dd/MM/yyyy'}}<br>
          <b><i class="icon ion-clock"></b></i> {{booking.get('ranges') | range}}<br>

          <b><i class="icon ion-android-pin"></i></b> {{booking.get("court") | courtName:booking.get('gameType') }}<br>
            
            
        <div ng-show="booking.get('players').length > 0 ">
            <i class="icon ion-person-stalker" ></i><br>
            <small ng-repeat="player in booking.get('players')">
            - {{player.get('nome')}} (Livello: {{player.get('level')}}) <br>
            </small>
        </div><br>
            
        
        </ion-item>
        </ion-list >

    </div>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    </ion-content>
  </div>
</script>
    
<script id="status.html" type="text/ng-template">
  <div class="modal"> 
    <ion-header-bar class="bar-stable">
      <h1 class="title">Imposta il tuo stato</h1>
      <button class="button button-light" ng-click="closeStatusModal()">close</button>
    </ion-header-bar>
  <ion-content>
    <small>{{error}}</small>
 <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
     <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="status" ng-model="status.value">
      </label>
    </div>
      <button class="button button-positive button-block" ng-click="setStatus()">Conferma</button>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    </ion-content>
  </div>
</script>

<script id="message.html" type="text/ng-template">
  <div class="modal"> 
    <ion-header-bar class="bar-stable">
      <h1 class="title">Invia Messaggio</h1>
      <button class="button button-light" ng-click="closeMessageModal()">close</button>
    </ion-header-bar>
    <ion-content>
    
    <ion-spinner class="spinnerx" icon="dots" ng-show="waiting"></ion-spinner>
      
    <div class="item center"> {{message}}</div>
 <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
       <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-ios-email-outline placeholder-icon"></i>
            <input type="text" placeholder="messaggio" ng-model="messageToSend.value">
          </label>
        </div>
        <button class="button button-positive button-block" ng-click="sendMessage()">invia</button>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    </ion-content>
  </div>
</script>


</ion-view>
