<ion-view view-title="Bacheca">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">News</div>
      <div class="item item-body">
        <div>
          Il 1 Ottobre prenderà il via la nuova stagione dedicata al tennis e al paddle.
          Per le iscrizioni dei bambini sono previste....
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Tornei</div>
      <div class="item item-body">
        <div>
          Torneo adulti - Premio finale: 2 racchette Wilson
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Comunicazioni</div>
      <div class="item item-body">
        <div>
          Il 10 Ottobre è prevista una seessione speciale di allenamento per gli iscritti al torneo di Paddle....
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
