<ion-view view-title="Account">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        Dettagli
      </div>
      <div class="item item-text-wrap">
        <!-- xxx -->
        <ion-list >
          <ion-item>email: {{currentUser.get('email')}}</ion-item>
          <ion-item>livello: {{currentUser.get('level')}} &nbsp;&nbsp; <button class="button  button-outline button-positive" ng-click="changeLevel()">
                Modifica</button></ion-item>
          <ion-item>  <button class="button  button-outline button-positive" ng-click="resetPwd()">
                Reset password</button>
          </ion-item>
        </ion-list >
        <!-- xxx -->

      </div>

    </div>

    <div class="card">
      <div class="item item-divider">
        Prossimi Impegni
      </div>
      <div class="item item-text-wrap">
        <!-- xxx -->
        <ion-list >
          <ion-item ng-repeat="booking in bookings">
            <b>
              <i class="icon ion-ios-tennisball-outline" ng-show="booking.gameType == 'Tx2'"></i>
              <i class="icon ion-social-pinterest-outline" ng-show="booking.gameType == 'P'"></i>
              <i class="icon ion-ios-tennisball-outline" ng-show="booking.gameType == 'Tx4'"></i>
              <i class="icon ion-ios-tennisball-outline" ng-show="booking.gameType == 'Tx4'"></i>
            </b>
            &nbsp;&nbsp;
            <b><i class="icon ion-calendar"></i></b> {{booking.date}} &nbsp; <b><i class="icon ion-clock"></b></i> {{booking.ranges}}

            &nbsp;&nbsp;
            <b><i class="icon ion-android-pin"></i></b> {{booking.court}} &nbsp;




              &nbsp;&nbsp;<i class="icon ion-person-stalker" ng-show="userRole == 'segreteria'"></i>&nbsp;
              {{booking.note}}


            <ion-option-button class="button-assertive"
                             ng-click="delete(booking)">
            Cancella
          </ion-option-button>
          </ion-item>
      </ion-list>
        <!-- xxx -->

      </div>

    </div>

    <div class="card">
      <div class="item item-divider">
        Call To Action
      </div>
      <div class="item item-text-wrap">
        <!-- xxx -->
        <ion-list>
            <ion-item ng-repeat="cta in callToActions">
              <b>
                <i class="icon ion-ios-tennisball-outline" ng-show="cta.gameType == 'Tx2'"></i>
                <i class="icon ion-social-pinterest-outline" ng-show="cta.gameType == 'P'"></i>
                <i class="icon ion-ios-tennisball-outline" ng-show="cta.gameType == 'Tx4'"></i>
                <i class="icon ion-ios-tennisball-outline" ng-show="cta.gameType == 'Tx4'"></i>
              </b>
              &nbsp;&nbsp;
              <b><i class="icon ion-calendar"></i></b> {{cta.date}} &nbsp; <b><i class="icon ion-clock"></b></i> {{cta.ranges}}
              &nbsp;&nbsp;<i class="icon ion-person-stalker"></i>&nbsp;
              <span ng-repeat="p in cta.playersName">
                {{p.giocatore}} - Livello: {{p.livello}}
              </span>

            </ion-item>
        </ion-list>
        <!-- xxx -->
      </div>
    </div>

<div class="row">
  <div class="col">
    <button class="button button-block button-positive" ng-click="gotoStatistics()" ng-show="userRole == 'admin' || userRole == 'segreteria'">
        Gestione Pren.
    </button>
  </div>
  <div class="col">
    <button class="button button-block button-positive" ng-click="gotoUserToEnable()" ng-show="userRole == 'admin'">
        Abilita Utenti
    </button>
  </div>
</div>


  <script id="reset-pwd.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Reset Password</h1>
      </ion-header-bar>

      <ion-content>
      <div class="item item-text-wrap">
          Invieremo una mail al tuo indirizzo per il reset pwd....
            <button class="button button-outline button-small button-positive" ng-click="confirmResetPwd()">
                Conferma!
            </button>
      </div>


      </ion-content>

    </div>
  </script>


  <script id="set-level.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Livello</h1>
      </ion-header-bar>

      <ion-content>
      <div class="list">


      <!-- xx -->
      <label class="item item-divider">

        <div class="item-content" style="color:gray">
          Seleziona il tuo livello di gioco
        </div>

      </label>

      <ion-radio-fix ng-model="currentLevel.value" ng-value="1">
        1 - Mr Padella
      </ion-radio-fix>
      <ion-radio-fix ng-model="currentLevel.value" ng-value="2">
        2 - Vorrei Ma Proprio Non Fa Per Me
      </ion-radio-fix>
      <ion-radio-fix ng-model="currentLevel.value" ng-value="3">
        3 - Vorrei Ma Non Riesco
      </ion-radio-fix>
      <ion-radio-fix ng-model="currentLevel.value" ng-value="4">
        4 - Se Mi Impegno
      </ion-radio-fix>
      <ion-radio-fix ng-model="currentLevel.value" ng-value="5">
        5 - Il mio Nome è Paddle, Tennis O’ Paddle
      </ion-radio-fix>

      <!-- xx -->

        <ion-item>
        <button class="button button-outline button-small button-positive" ng-click="confirmChangeLevel()">
            Conferma
        </button>
        </ion-item>
      </div>
      </ion-content>

    </div>
  </script>


  </ion-content>
</ion-view>
