<div>

<!--
  The nav bar that will be updated as we navigate between views.
-->
<ion-nav-bar class="bar-stable">
  <ion-nav-back-button></ion-nav-back-button>
  <ion-nav-buttons side="left">
   <!-- Toggle left side menu -->
   <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>

  </ion-nav-buttons>

  <ion-nav-buttons side="right" >
        <i class="button button-icon ion-ios-email-outline" ui-sref="tab.account"><span class="badge badge-assertive header-badge" ng-show="notificationCount">{{notificationCount}}</span></i>
    </ion-nav-buttons>

</ion-nav-bar>

<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-color-active-positive tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

 
  <!-- Book Court Tab -->
  <ion-tab title="Prenota" icon-off="ion-ios-tennisball" icon-on="ion-ios-tennisball" href="#/tab/bookCourt2">
    <ion-nav-view name="tab-bookCourt"></ion-nav-view>
  </ion-tab>
	
	 <!-- setAvalability Tab -->
  <ion-tab title="Gestisci" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/setAvalability" ng-if ="currentUser.get('maestro') != undefined">
    <ion-nav-view name="tab-setAvalability"></ion-nav-view>
  </ion-tab>
	

  <!-- Book Court Tab -->
  <ion-tab title="Open Game" icon-off="ion-speakerphone" icon-on="ion-speakerphone" href="#/tab/callToAction">
    <ion-nav-view name="tab-callToAction"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>

</div>
