


<div>


  <script id="signup-ok-modal.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Registrazione ok</h1>
      </ion-header-bar>
      <ion-content>
          <div class="card">
            <div class="item item-text-wrap">
              Bene! La registrazione è andata a buon fine. Ora attendi di essere abilitato dal Team di Magic Paddle!<br><br>
              <button class="button button-calm" ng-click="ok()">
                  Ho Capito!
              </button>
            </div>
          </div>
      </ion-content>
    </div>
  </script>



</div>
