<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cdigiovanni.magicbooking2" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>magic-booking</name>
    <description>
          A Magic project.
      </description>
    <author email="claudio.digiovanni@gmail.com" href="http://ionicframework.com/">
        Ionic Framework Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <config-file mode="replace" parent="NSAppTransportSecurity" platform="ios">
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true />
        </dict>
    </config-file>
    <platform name="ios" />
    <platform name="android" />
    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="xwalkVersion" value="14+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="8000" />
    <preference name="android-build-tool" value="gradle" />
    <plugin name="cordova-plugin-calendar" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
        <param name="ios-package" value="CDVDevice" />
    </plugin>
    <plugin name="ionic-plugin-deploy" />
    <plugin name="cordova-plugin-whitelist" />
    <allow-navigation href="*" />
    
    <platform name="ios">
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
    </platform>
    <platform name="android">
        <icon qualifier="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon qualifier="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon qualifier="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon qualifier="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon qualifier="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon qualifier="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
    </platform>
    <preference name="xwalkMultipleApk" value="true" />
</widget>
