<?xml version='1.0' encoding='utf-8'?>
<widget
    id="com.ionicframework.paddle252448"
    version="0.1.2"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>magic-booking</name>
    <description>
          A Magic project.
      </description>
    <author email="claudio.digiovanni@gmail.com" href="http://ionicframework.com/">
        Ionic Framework Team
    </author>

    <content src="index.html" />

    <access origin="*" />

    <gap:platform name="ios" />
    <gap:platform name="android" />

    
    <feature name='LocalStorage'>
        <param name='ios-package' value='CDVLocalStorage'/>
    </feature>
    <preference name='UIWebViewBounce' value='false'/>
    <preference name='DisallowOverscroll' value='true'/>
    <preference name='android-minSdkVersion' value='16'/>
    <preference name='BackupWebStorage' value='none'/>
    <preference name='xwalkVersion' value='14+'/>
    <preference name='xwalkCommandLine' value='--disable-pull-to-refresh-effect'/>
    <preference name='xwalkMode' value='embedded'/>
    <preference name='SplashScreen' value='screen'/>
    <preference name='SplashScreenDelay' value='8000'/>

    <gap:plugin name="com.phonegap.plugins.pushplugin" />
    <gap:plugin name="com.ionic.keyboard"/>
    <gap:plugin name="cordova-plugin-splashscreen"/>
    <gap:plugin name="cordova-plugin-device"/>


    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
        <param name="ios-package" value="CDVDevice" />
    </feature>



    <feature name="Keyboard">
        <param name="ios-package" value="IonicKeyboard" onload="true" />
    </feature>

    <feature name="PushPlugin">
        <param name="ios-package" value="PushPlugin"/>
    </feature>




<icon gap:platform="android" src="resources/android/icon/drawable-hdpi-icon.png" gap:qualifier="hdpi"/>
<icon gap:platform="ios" src="resources/ios/icon/icon.png" width="57" height="57"/>




</widget>
