<ion-view view-title="Seleziona un giorno...">

<ion-content class="padding">

  <month-changer current-month="currentMonth" current-year="currentYear">xxx</month-changer>


  <calendar avalabilities='coachAvalabilities' selected-day="selectedDay" day-clicked='dayClicked(pos)' current-month="currentMonth" current-year="currentYear"></calendar>


<div class="card" style="text-align:center" ng-show="mymessage">
  <div class="item item-text-wrap">
    <i class="icon ion-clock"></i>
    {{mymessage}}
  </div>
</div>

<div class="item item-text-wrap center" >
<button class="button  button-outline button-assertive" ng-click="gotoCourtsView()">
        Vista Campi {{date}}
</button>
</div>

<div class="item item-text-wrap">

  <!-- xxx -->
  <show-bookings bookings="results.bookingsToPayBeforeToday" text="Prenotazioni precedenti da saldare" pay="pay(b)" delete="delete(b)" showpay="true"></show-bookings>
  <!-- xxx -->

</div>

<div class="item item-text-wrap">

  <!-- xxx -->
  <show-bookings bookings="results.bookingsInDate" date="date" text="Prenotazioni" pay="pay(b)" delete="delete(b)" showpay="true"></show-bookings>
  <!-- xxx -->
</div>








</ion-content>

</ion-view>
