

<ion-slide-box show-pager="true" active-slide="0" pager-click="slide(index)" does-continue="true">
<ion-slide>
  <ion-header-bar>
        <h1 class="title">Benvenuto!</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
        <img src="img/help/loginx.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        Questa è la pagina nella quale dovrai inserire la tua username e la password per accedere.
      </div>
    </div>

  </ion-content>

</ion-slide>

<ion-slide>
  <ion-header-bar>
        <h1 class="title">Benvenuto!</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/dashboardx.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        La <b>Dashboard</b> è la sezione nella quale potrai trovare le ultime news sul circolo. La Dashboard è la sezione nella quale potrai trovare le ultime news sul circolo.
      </div>
    </div>
  </ion-content>
</ion-slide>

<ion-slide>
  <ion-header-bar>
        <h1 class="title">Benvenuto!</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/tabsx.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        Questa sarà la tua barra di navigazione!
        L'icona 1) permette di accedere alla bacheca. L'icona 2) permette di prenotare una lezione con il maestro. Con l'icona 3) puoi prenotare un campo. L'icona 4) ti permette di visionare le partite aperte: noi le abbiamo chiamate Call To Action, ovvero partite organizzate da un giocatore alle quale, se vuoi potrai unirti, Infine l'icona 5) ti permette di accedere al tua pagina personale, con il riepilogo delle partite che dovrai giocare e tanto altro.
      </div>
    </div>
  </ion-content>
</ion-slide>

<ion-slide>
  <ion-header-bar>
        <h1 class="title">Benvenuto!</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/prenotazione-lezionex.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        Scegli il tuo maestro e divertiti!
      </div>
    </div>
  </ion-content>
</ion-slide>

<ion-slide>
  <ion-header-bar>
        <h1 class="title">Benvenuto!</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/prenota1x.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        Seleziona il giorno nel quale vuoi giocare ed il tipo di partita. Se vuoi organizzare una partita aperta puoi farlo da qui selezionando la voce "Call To Action".
      </div>
    </div>
  </ion-content>
</ion-slide>


<ion-slide>
  <ion-header-bar>
        <h1 class="title">Benvenuto!</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/prenota2x.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        Seleziona l'orario tra quelli disponibili. Riceverai subito conferma dell'avvenuta prenotazione.
      </div>
    </div>
  </ion-content>
</ion-slide>


<ion-slide>
  <ion-header-bar>
        <h1 class="title">Benvenuto!</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/calltoactionx.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        Qui potrai vedere le partite aperte: Call To Action. Se hai un livello adeguato potrai unirti alla sfida!
      </div>
    </div>
  </ion-content>
</ion-slide>

<ion-slide>
  <ion-header-bar>
        <h1 class="title">Benvenuto!</h1>
        <button class="button button-small button-outline button-positive" ng-click="close()">chiudi</button>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">
          <img src="img/help/accountx.png" style="margin:auto;display:block" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        Qui potrai visionare la tua pagina personale dalla quale potrai cambiare la password, il tuo livello di gioco e visualizzare i tuoi prossimi appuntamenti.
        Puoi anche cancellare una prenotazione facendo scorrere l'elemento selezionato da destra verso sinistra.
      </div>
    </div>
  </ion-content>
</ion-slide>

</ion-slide-box>
