<ion-view view-title="Utenti da abilitare">

<ion-content class="padding">



<div class="list">

  <div class="card" ng-repeat="user in users">
    <div class="item item-text-wrap">
      <b>Username:</b> {{user.get('username')}}<br>
      <b>Nome:</b> {{user.get('nome')}}<br>
      <b>email:</b> {{user.get('email')}}<br>
      <b>Data Iscrizione:</b> {{user.createdAt | date:'dd/MM/yyyy'}}<br><br>

      <button class="button button-small button-positive" ng-click="enableUser(user)">
          Abilita
      </button>
    </div>
  </div>
</div>
</ion-content>

</ion-view>
