<<ion-content>


    <div class="list" ng-hide="registered">
      <label class="item item-input item-floating-label">
        <span class="input-label">email</span>
        <input type="email" placeholder="email" ng-model="currentUser.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">username</span>
        <input type="text" placeholder="username" ng-model="currentUser.username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">password</span>
        <input type="password" placeholder="password" ng-model="currentUser.password">
      </label>
            <label class="item item-divider">

              <div class="item-content" style="color:gray">
                Seleziona il tuo livello di gioco
              </div>

            </label>
                <ion-radio-fix ng-model="currentUser.level" ng-value="1">
                  1 - Mr Padella
                </ion-radio-fix>
                <ion-radio-fix ng-model="currentUser.level" ng-value="2">
                  2 - Vorrei Ma Proprio Non Fa Per Me
                </ion-radio-fix>
                <ion-radio-fix ng-model="currentUser.level" ng-value="3">
                  3 - Vorrei Ma Non Riesco
                </ion-radio-fix>
                <ion-radio-fix ng-model="currentUser.level" ng-value="4">
                  4 - Se Mi Impegno
                </ion-radio-fix>
                <ion-radio-fix ng-model="currentUser.level" ng-value="5">
                  5 - Il mio Nome è Paddle, Tennis O’ Paddle
                </ion-radio-fix>


              <div ng-hide="platform == 'ios' || platform == 'android'">
                  <div vc-recaptcha
                  key="'6Le_Kg0TAAAAABpGvJYm8U5DeHUgdIFaxHolPUWA'"
                  on-success="setResponse(response)">
                  </div>
              </div>


      <div class="item alert" ng-show="mymessage.text">
        {{mymessage.text}}
      </div>
      <button class="button button-full button-positive" ng-click="signUp()">
          Registrati
      </button>

      <ion-item>
        <a ui-sref="login">...oppure torna alla pagina di login</a>
      </ion-item>
    </div>

</ion-content>
