<ion-view view-title="Bacheca">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">News</div>
      <div class="item item-body">
        <div>
          {{text[0]}}
          <button class="button button-small button-positive" ng-click="openModal(0)" ng-show="userRole == 'admin'">
            Edit
          </button>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Tornei</div>
      <div class="item item-body">
        <div>
            {{text[1]}}
            <button class="button button-small button-positive" ng-click="openModal(1)" ng-show="userRole == 'admin'">
              Edit
            </button>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Comunicazioni</div>
      <div class="item item-body">
        <div>
            {{text[2]}}
            <button class="button button-small button-positive" ng-click="openModal(2)" ng-show="userRole == 'admin'">
              Edit
            </button>
        </div>
      </div>
    </div>
  </ion-content>

  <script id="edit.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Edit</h1>

      </ion-header-bar>
      <ion-content>
      <label class="item item-input">
        <textarea  ng-model="edit.text"></textarea>
      </label>

      <button class="button button-block button-positive" ng-click="closeModal()">
        Invia
      </button>

      </ion-content>
    </div>
  </script>

</ion-view>
