/* Empty. Add your own CSS if you like */
<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #6338df;
}
table tr:nth-child(even) {
  background-color: #dbd2f0;
}


.booked{
  background-color: #df6a38;
}
.selected{
  background-color: #4adf38;
}

.selected-booked{
  background-color: #3862df;
}

.free{
  background-color: #ededed;
}

.avalaible{
  background-color: rgb(18, 142, 61);
}

</style>
