/* Empty. Add your own CSS if you like */
<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #6338df;
}
table tr:nth-child(even) {
  background-color: #dbd2f0;
}

.avalaible{
  background-color: #e0e0e0;
}
.booked{
  background-color: #df6a38;
}
.selected{
  background-color: #4adf38;
}
</style>
